<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662322157210-i0ll2pprsov75fhsa3mufkigrn22bm7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662322157210-i0ll2pprsov75fhsa3mufkigrn22bm7j</string>
	<key>API_KEY</key>
	<string>AIzaSyCe0xldt3I0n2G4oDgNJUpzn3Uwophd0ys</string>
	<key>GCM_SENDER_ID</key>
	<string>662322157210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mesafer</string>
	<key>PROJECT_ID</key>
	<string>mesafer-431a0</string>
	<key>STORAGE_BUCKET</key>
	<string>mesafer-431a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662322157210:ios:84bbfb8abfef38db9a3123</string>
</dict>
</plist>